<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

  <!-- 缓存管理器 -->
  <bean id="cacheManager"
    class="com.dep.sspanel.shiro.SpringCacheManagerWrapper">
    <property name="cacheManager" ref="springCacheManager" />
  </bean>

  <!-- 凭证匹配器 -->
  <bean id="credentialsMatcher"
    class="com.dep.sspanel.shiro.RetryLimitHashedCredentialsMatcher">
    <constructor-arg ref="cacheManager" />
    <property name="hashAlgorithmName" value="md5" />
    <property name="hashIterations" value="2" />
    <property name="storedCredentialsHexEncoded" value="true" />
  </bean>

  <!-- Realm实现 -->
  <bean id="userRealm" class="com.dep.sspanel.realm.UserRealm">
    <property name="credentialsMatcher" ref="credentialsMatcher" />
    <property name="cachingEnabled" value="false" />
    <property name="authenticationCachingEnabled" value="true" />
    <property name="authenticationCacheName" value="authenticationCache" />
    <property name="authorizationCachingEnabled" value="true" />
    <property name="authorizationCacheName" value="authorizationCache" />
  </bean>
  
  <!-- 会话ID生成器 -->
  <bean id="sessionIdGenerator"
    class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator" />

  <!-- 会话Cookie模板 -->
  <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
    <constructor-arg value="sid" />
    <property name="httpOnly" value="true" />
    <property name="maxAge" value="-1" />
  </bean>

  <!-- 会话DAO -->
  <bean id="sessionDAO"
    class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
    <property name="activeSessionsCacheName" value="shiro-activeSessionCache" />
    <property name="sessionIdGenerator" ref="sessionIdGenerator" />
  </bean>

  <!-- 会话验证调度器 -->
  <bean id="sessionValidationScheduler"
    class="org.apache.shiro.session.mgt.quartz.QuartzSessionValidationScheduler">
    <property name="sessionValidationInterval" value="1800000" />
    <property name="sessionManager" ref="sessionManager" />
  </bean>

  <!-- 会话管理器 -->
  <bean id="sessionManager"
    class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
    <!-- 会话超时时间，单位：毫秒 -->
    <property name="globalSessionTimeout" value="1800000" />
    <property name="deleteInvalidSessions" value="true" />
    <property name="sessionValidationSchedulerEnabled" value="true" />
    <property name="sessionValidationScheduler" ref="sessionValidationScheduler" />
    <property name="sessionDAO" ref="sessionDAO" />
    <property name="sessionIdCookieEnabled" value="true" />
    <property name="sessionIdCookie" ref="sessionIdCookie" />
  </bean>


  <!-- Shiro安全管理器 -->
  <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
    <property name="realm" ref="userRealm" />
    <property name="sessionManager" ref="sessionManager" />
    <property name="cacheManager" ref="cacheManager" />
    <!-- <property name="rememberMeManager" ref="rememberMeManager"/> -->
  </bean>

  <!-- 控制并发人数 -->
  <bean id="kickoutSessionControlFilter" class="com.dep.sspanel.shiro.KickoutSessionControlFilter">
    <property name="cacheManager" ref="cacheManager" />
    <property name="sessionManager" ref="sessionManager" />
    <property name="kickoutAfter" value="false" />
    <property name="maxSession" value="1" />
    <property name="kickoutUrl" value="/index/login?kickout=1" />
  </bean>

  <!-- 基于Form表单的身份验证过滤器 -->
  <bean id="formAuthenticationFilter" class="com.dep.sspanel.shiro.CaptchaFormAuthenticationFilter">
    <property name="usernameParam" value="username" />
    <property name="passwordParam" value="password" />
    <!-- <property name="rememberMeParam" value="rememberMe"/> -->
    <property name="loginUrl" value="/index/login" />
  </bean>

  <!-- 验证码 -->
  <bean id="captchaValidateFilter" class="com.dep.sspanel.shiro.CaptchaValidateFilter">
    <property name="captchaEbabled" value="true" />
    <property name="captchaParam" value="captchaCode" />
    <property name="failureKeyAttribute" value="shiroLoginFailure" />
  </bean>

  <!-- Shiro的Web过滤器 -->
  <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    <!-- Shiro的核心安全接口，这个属性是必须的 -->
    <property name="securityManager" ref="securityManager" />
    <!-- 要求登录时的链接(登录页面地址)，非必须的属性，默认会自动寻找Web工程根目录下的"/login.jsp"页面 -->
    <property name="loginUrl" value="/index/login" />
    <!-- 登录成功后要跳转的连接 -->
    <property name="successUrl" value="/user/"></property>
    <!-- 用户访问未对其授权的资源时，所显示的连接 -->
    <property name="unauthorizedUrl" value="/user/"></property>
    <property name="filters">
      <util:map>
        <entry key="authc" value-ref="formAuthenticationFilter" />
        <entry key="CaptchaValidate" value-ref="captchaValidateFilter" />
        <entry key="kickout" value-ref="kickoutSessionControlFilter" />
        <!-- <entry key="sysUser" value-ref="sysUserFilter"/> -->
      </util:map>
    </property>
    <!-- 过滤:authc表示要求权限,anon表示不需要认证,user表示允许remember me -->
    <property name="filterChainDefinitions">
      <value>
        /index/login=CaptchaValidate,authc
        /index/logout = logout
        /=anon
        /index/**=anon
        /resource/**=anon
        /images/**=anon
        /error/**=anon
        /admin/**=kickout,roles[admin]
        /user/security=kickout,CaptchaValidate,authc
        /**=kickout,authc
      </value>
    </property>
  </bean>

  <!-- Shiro生命周期处理器 -->
  <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

  <!-- AOP式方法级权限检查,开启Shiro的注解(如@RequiresRoles,@RequiresPermissions),需借助SpringAOP扫描使用Shiro注解的类,并在必要时进行安全逻辑验证 -->
  <bean
    class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
    depends-on="lifecycleBeanPostProcessor" />
  <bean
    class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    <property name="securityManager" ref="securityManager" />
  </bean>
</beans>