/* 顶部栏 */
body { padding-top: 70px; }

/* 重写row样式 */
.row{
  margin: 0 auto;
}

.circle{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.white{
  color:white;
}

.error{
  color:red;
}